.booking-table{
    width: 90%;
    margin: 100px auto;
    padding: 20px;
    

    border-radius: 12px;
    background: #C4E0E5;
    box-shadow:  20px 20px 60px #a7bec3,
             -20px -20px 60px #e1ffff;
}